
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact KhumaloCraft</h1>


<style>
    .contact-container {
        background-color: #f8f9fa;
        padding: 50px;
        text-align: center;
    }

    .contact-info {
        margin-bottom: 20px;
    }

        .contact-info p {
            margin-bottom: 5px;
        }

        .contact-info a {
            color: #007bff;
        }

    .contact-image {
        margin-bottom: 20px;
    }
</style>

<div class="container contact-container">
    <h1>Contact Us</h1>



    <div class="contact-info">

        <p><strong>Company Email:</strong> <a href="mailto:info@khumalocraft.co.za">info@khumalocraft.co.za</a></p>
        <p><strong>Business Phone Number:</strong> 031 207 1206</p>
        <p><strong>Instagram:</strong> <a href="khumalo_craft">khumalo_craft</a></p></p>

    </div>

    <p>Feel free to reach out to us if you have any questions!</p>
</div>

