@{
    ViewData["Title"] = "About Us";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KhumaloCraft</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <!-- Navigation Section -->
    </header>
    <div class="container">
        <main role="main">
            <section class="about-section">
                <div class="text-center">
                    <h1>@ViewData["Title"]</h1>
                    <p>James Khumalo developed the innovative e-commerce site KhumaloCraft with the goal of bringing together world-wide creators. It acts as a showcase for handcrafted goods, providing a wide variety of exceptional and one-of-a-kind pieces made by gifted artists from all over the world. The goal of KhumaloCraft is to offer a venue that encourages cultural interchange, appreciation of craftsmanship, and the promotion of craftsmen' works. KhumaloCraft is committed to scalability, accessibility, and user experience. Its mission is to provide customers with a safe and delightful buying experience while enabling craftsmen to exhibit their skills on a worldwide scale.</p>
                </div>
            </section>
        </main>
    </div>
    <footer>
        <!-- Footer Section -->
    </footer>
    <script src="~/js/site.js"></script>
</body>
</html>

