@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        margin: 0;
        padding: 0;
        background-color: black;
    }

    .content {
        text-align: center;
        padding: 100px 20px;
        color: white;
    }
</style>

<div class="content">

    @{
        ViewData["Title"] = "Home Page";
    }

    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: black;
        }

        .content {
            text-align: center;
            padding: 100px 20px;
            color: white;
        }
    </style>

    <div class="content">
        <img src="~/images/istockphoto-804269534-612x612.jpg" />
        
    </div>

</div>

