@{
    ViewData["Title"] = "My Work";
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="~/images/fec40b11caacdd223631baabaa97a2ee.png" />
            <div class="card-body">
                <h5 class="card-title">Hand crafted artisan jewelry</h5>
                <p class="card-text"><strong>Price:</strong> R120</p>
                <a href="/Order?item=Hand crafted artisan jewelry&price=120" class="btn btn-primary" style="background-color: black;">Order Now</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="~/images/goren-ceramic-plates.jpg" />
            <div class="card-body">
                <h5 class="card-title">Hand crafted ceramic Plates</h5>
                <p class="card-text"><strong>Price:</strong> R100</p>
                <a href="/Order?item=Hand crafted ceramic Plates&price=100" class="btn btn-primary" style="background-color: black;">Order Now</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <img src="~/images/11e46affff3c5d3e7132fe425e6ab3b5.jpg" />
            <div class="card-body">
                <h5 class="card-title">Hand crafted Woodworkings</h5>
                <p class="card-text"><strong>Price:</strong> R200</p>
                <a href="/Order?item=Hand crafted Woodworkings&price=200" class="btn btn-primary" style="background-color: black;">Order Now</a>
            </div>
        </div>
    </div>
</div>


